.descrption{
    width:10wh;
    height:10vh;
    margin:2px;
    display:flex;
    
}

.taki-img{
    width:20wh;
    height:20vh;
    align-items: center;
}

.text-img{
    width:6wh;
    height: 6vh;
    color:purple;
}